@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #ff6f61;
  --color-secondary: #1e3a8a;
}
body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
